{
  "arrowParens": "always",
  "bracketSpacing": true,
  "endOfLine": "crlf",
  "jsxBracketSameLine": false,
  "jsxSingleQuote": true,
  "plugins": ["prettier-plugin-tailwindcss"],
  "printWidth": 100,
  "quoteProps": "consistent",
  "semi": true,
  "singleAttributePerLine": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "all"
}
